*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

/// mixins 
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

// font faces
@font-face {
  font-family: 'Urbanist', sans-serif;;
  src: url("./assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf") format('ttf');
}


// font variables
$font-family-default: 'Urbanist', sans-serif;
// font-size
$font-size-smaller: 0.8vw;
$font-size-small: 0.9vw;
$font-size-normal: 1.2vw;
$font-size-large: 2vw;



//color variables
$black-color: #000;
$blue-color: #023C77;
$blue-color-filter: invert(16%) sepia(32%) saturate(5567%) hue-rotate(198deg) brightness(89%) contrast(98%); 
$grey-color: #888;
$grey-p-color: #bbb;
$grey-color-filter: invert(75%) sepia(2%) saturate(17%) hue-rotate(45deg) brightness(110%) contrast(91%);
$dark-grey-color: #4E4E4E;
$dark-grey-color-filter: invert(28%) sepia(6%) saturate(8%) hue-rotate(343deg) brightness(94%) contrast(85%);
$light-grey-color: #eee;
$light-grey-color-filter: invert(91%) sepia(0%) saturate(468%) hue-rotate(137deg) brightness(115%) contrast(87%);
$orange-color: #fa6f61;
$red-color-filter:invert(17%) sepia(100%) saturate(7151%) hue-rotate(2deg) brightness(105%) contrast(115%);
$red-color: #ff0000;
$primary-pink-color: #F71963;
$white-color: #fff;
$white-color-filter: brightness(0) invert(1);

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: $white-color;
}