@import '../../../../App.scss';

.main-content{
  @include flex;
  flex-direction: column;
  width: 90vw;
  height: max-content;
  padding: 2.5vw 0;

  ul{
    @include grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 4vw;
    justify-content: space-between;

    .content-itens{
      @include flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      row-gap: 1vw;
      // border: 1px solid #000;

      button{
        width: 100%;
        height: 8vw;
        border: none;
        box-shadow: 0vw 0vw .5vw $grey-p-color;
        cursor: pointer;
        
        img{
          width: 4vw; 
          height: 4vw;
          filter: $dark-grey-color-filter;
        }
      }

      .active-button{
        img{
          filter: $red-color-filter;
        }
      }

      p{
        color: $dark-grey-color;
        font-weight: bold;
        font-size: $font-size-small;
      }

      .activate-p{
        color: $primary-pink-color;
      }
    }
  }

  .show-components{
    @include flex;
    flex-direction: column;
    padding: 3.5vw 0;
    width: 90vw;
    position: relative;


    h1{
      color: $primary-pink-color;
      font-weight: bolder;
      font-size: $font-size-large;
      padding: 0 0 1vw;
    }

    #line-right, #line-left{
      position: absolute;
      top: 0;
      left: 0;
      width: 30vw;
      filter: $grey-p-color-filter;
    }

    #line-right{
      top: 4.5vw;
      left: 2vw;
    }

    #line-left{
      top: 4.5vw;
      left: 58vw;
    }

    .related-products{
      width: 100%;
      @include flex;
      flex-direction: column;
      row-gap: 2vw;

      .options-container{
        @include grid;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 0;

        .options-itens{
          @include flex;

          button{
            width: 100%;
            border: 1px solid $grey-p-color;
            background-color: $white-color;
            padding: .6vw 0;
            font-weight: bolder;
            text-transform: uppercase;
            color: $dark-grey-color;
            cursor: pointer;
          }
        }

        .activate-option{
          button{
            color: $primary-pink-color;
          }
        }
      }


      .slick-slider{
        width: 100%;
        position: relative;

      
        .slick-slide > div{
          margin: 0 1.5vw;
        }

        .slick-list {
          margin: 0 -1.5vw;
          height: 35vw;
        }

        .slick-track{
          margin-top: 1vw;
        }

        .slick-dots li button{
          display: none;
        }
    
        .slick-prev, .slick-next{
          @include flex;
          width: 3vw;
          height: 3vw;
          border-radius: 50%;
          background-color: $white-color;
        }

        .slick-next{
          right: -3.5vw;
          top: 17vw;
        }

        .slick-prev{
          left: -4vw;
          top: 17vw;
        }
    
        .slick-prev::before {
          content: '<';
          font-size: 3vw;
          position: absolute;
          top: .3vw;
          left: .8vw;
          color: $dark-grey-color;
          font-weight: bolder;
        }
        
        .slick-next::before{
          content: '>';
          font-size: 3vw;
          position: absolute;
          top: .2vw;
          left: 1.1vw;
          color: $dark-grey-color;
          font-weight: bolder
        }

        .card{
          @include flex;

          .product-itens{
            width: 20vw;
            height: 30vw;
            @include flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5vw;
            // border: 1px solid $dark-grey-color;
            box-shadow: 0vw 0vw 1vw $grey-p-color;
            border-radius: .7vw;

            div{
              width: 100%;

              h3{
                font-weight: lighter;
                text-transform: uppercase;
                font-size: $font-size-card;
                padding-bottom: 1vw;
              }

              .price{
                font-weight: bolder;
                font-size: $font-size-medium;
                padding-bottom: .3vw;
              }
              
              .subtitle{
                font-size: $font-size-small;
                padding-bottom: 1vw;
              }

              .shipping{
                font-size: $font-size-small;
                color: $primary-pink-color;
              }

            }

            button{
              width: 100%;
              padding: .9vw 0;
              border: none;
              background-color: $primary-pink-color;
              color: $white-color;
              text-transform: uppercase;
              font-weight: bolder;
              border-radius: .3vw;
              cursor: pointer;
            }
          }
      }

      }
    }

    .modal{
      position: absolute;
      
      .active-modal {
        overflow-y: hidden;
      }

      .modal, .overlay {
        width: 200vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
      }
    
    .overlay {
        background: rgba(49,49,49,0.4);
        z-index: 1;
    }

    .modal-content {
        position: absolute;
        top: 10vw;
        left: 0;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        background: $white-color;
        padding: 2vw;
        border-radius: .1vw;
        width: 50vw;
        @include flex;
        z-index: 2;

        .modal-img{
          width: 20vw;
          height: 15vw;
          padding: 1.5vw
        }

        .wrap{
          @include flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 1.5vw;
          padding-left: 2vw;

          h2{
            font-weight: lighter
          }

          .modal-price{
            font-size: $font-size-medium;
            font-weight: bold;
          }

          .modal-description{
            font-size: $font-size-small;
            width: 85%;
            font-weight: 500;
          }

          .modal-moreInfo{
            font-size: $font-size-small;
            font-weight: bold;
            cursor: pointer;
          }

          .modal-counter{
            @include flex;
            justify-content: space-between;
            border: 1px solid $black-color;
            border-radius: .4vw;
            width: 30%;
            height: 3vw;
            padding: .5vw;

           button{
              @include flex;
              width: 30%;
              padding: 0;
              background-color: $white-color;
            }
          }

          button{
            width: 73%;
            padding: .9vw 0;
            border: none;
            border-radius: .5vw;
            background-color: $primary-pink-color;
            color: $white-color;
            font-weight: bold;
            font-size: $font-size-card;
            cursor: pointer;
            
          }
        }
        
    }
    
    .close-button {
        position: absolute;
        width: 2vw;
        top: .8vw;
        right: 1vw;
        cursor: pointer;
    }
    }


    .parceiros{
      @include flex;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 2vw;

      .parceiros-itens{
        @include flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2.2vw;
        justify-content: flex-end;
        width: 40vw;
        height: 20vw;
        border-radius: 1vw;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url("./assets/BG.svg");;

        h1{
          color: $white-color;
          font-size: $font-size-large;
          padding-bottom: 1vw;
        }

        p{
          width: 30%;
          color: $white-color;
          padding-bottom: 1.5vw;
          font-weight: lighter;
        }

        button{
          width: 20%;
          padding: .8vw 0;
          border: none;
          border-radius: .5vw;
          background-color: $primary-pink-color;
          color: $white-color;
          text-transform: uppercase;
          font-weight: bolder;
        }
      }
    }

    .produtos{
      @include flex;
      width: 100%;
      flex-direction: column;
      position: relative;

      #line-right-produtos, #line-left-produtos{
        position: absolute;
        top: 0;
        left: 0;
        width: 30vw;
        filter: $grey-p-color-filter;
        height: .1vw;
      }

      #line-right-produtos{
        top: 0.9vw;
        left: 2vw;
      }
  
      #line-left-produtos{
        top: 0.9vw;
        left: 58vw;
      }

      p > a{
        color: $dark-grey-color;
        font-weight: bolder;
        font-size: $font-size-small;
        padding-bottom: 2vw;
        text-decoration: none
      }

    }

    .produto-container{
      @include flex;
      width: 100%;
      justify-content: space-between;
      padding-bottom: 4vw;

      .produtos-itens{
        @include flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2.2vw;
        justify-content: flex-end;
        width: 40vw;
        height: 20vw;
        border-radius: 1vw;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url("./assets/BG.svg");;

        h1{
          color: $white-color;
          font-size: $font-size-large;
          padding-bottom: 1vw;
        }

        p{
          width: 30%;
          color: $white-color;
          padding-bottom: 1.5vw;
          font-weight: lighter;
        }

        button{
          width: 20%;
          padding: .8vw 0;
          border: none;
          border-radius: .5vw;
          background-color: $primary-pink-color;
          color: $white-color;
          text-transform: uppercase;
          font-weight: bolder;
        }
      }
    }
  }

  .navegue{
    @include flex;
    width: 100%;
    flex-direction: column;
    row-gap: 2vw;

    .navegue-container{
      width: 100%;
      @include flex;
      justify-content: space-between;

      .navegue-itens{
        @include flex;
        width: 40%;
        height: 15vw;
        border-radius: 50%;
        box-shadow: 0 0 1vw $grey-p-color;
      }
    }
  }
}